# FHIR Server URLs
IMMUNIZATION_DEFAULT_FHIR_URL=http://localhost:8080/fhir
TEFCA_QHIN_DEFAULT_FHIR_URL=http://localhost:8081/fhir
LOCAL_HAPI_SERVER_URL=http://localhost:8096/fhir
IMMUNIZATION_SERVER_URL=http://localhost:3000

# MongoDB Configuration
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=immunization-dashboard
MONGODB_USERNAME=root
MONGODB_PASSWORD=password
MONGODB_URI=mongodb://root:password@localhost:27017/immunization-dashboard
