IMMUNIZATION_SERVER_URL=http://localhost:3000

# Required FHIR Server URLs
IMMUNIZATION_SERVER_DEFAULT_FHIR_URL=http://localhost:8080/fhir
IMMUNIZATION_SERVER_TEFCA_QHIN_DEFAULT_FHIR_URL=http://localhost:8081/fhir
IMMUNIZATION_SERVER_LOCAL_HAPI_SERVER_URL=http://localhost:8096/fhir

# MongoDB Configuration
IMMUNIZATION_SERVER_MONGODB_HOST=localhost
IMMUNIZATION_SERVER_MONGODB_PORT=27017
IMMUNIZATION_SERVER_MONGODB_DATABASE=immunization-dashboard
IMMUNIZATION_SERVER_MONGODB_USERNAME=root
IMMUNIZATION_SERVER_MONGODB_PASSWORD=password
IMMUNIZATION_SERVER_MONGODB_URI=mongodb://root:password@localhost:27017/immunization-dashboard
